<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <title>{% block title%} {% endblock %}</title>
  {% block jshead%} {% endblock %}
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Trash Of Clan Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {%block homeactive%} {%endblock%}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {%block blogactive%} {%endblock%} ">
          <a class="nav-link" href="/blog">Blog <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {%block contactactive%} {%endblock%}">
          <a class="nav-link" href="/contact">Contact <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {%block aboutactive%} {%endblock%}">
          <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <form method="get" action="/search" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" id="query"
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a href="/admin"><button class="btn btn-outline-success my-2 my-sm-0">Admin Panel</button></a>

      {% if not user.is_authenticated %}
      <!-- Button trigger SignUp modal -->
      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#signupmodal">
        SignUp
      </button>
      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#loginmodal">
        Login
      </button>
      <!-- SignUP Modal -->
      <div class="modal fade" id="signupmodal" tabindex="-1" aria-labelledby="signupmodal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="signupmodal">SignUp</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form action="/signup/" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">UserName</label>
                  <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp"
                    placeholder="Choose a unique username letter and number" required>
                  <small>lowercase and number</small>
                </div>
                <div>
                  <label for="exampleInputEmail1">First Name</label>
                  <input type="text" class="form-control" id="fname" name="fname" aria-describedby="emailHelp"
                    placeholder="First Name" required>
                </div>
                <div>
                  <label for="exampleInputEmail1">Last Name</label>
                  <input type="text" class="form-control" id="lname" name="lname" aria-describedby="emailHelp"
                    placeholder="Last Name">
                </div>
                <div>
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                    placeholder="Name@example.com" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose a Password"
                    required>
                  <small>Password Min 8 Characters</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Confirm Password</label>
                  <input type="password" class="form-control" id="pass2" name="pass2"
                    placeholder="Enter Your password again" required>
                </div>
                <button type="submit" class="btn btn-primary">SignUp</button>
              </form>

            </div>
          </div>
        </div>
      </div>


      <!-- Button trigger Login modal -->

      <!-- Login Modal -->
      <div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginmodal">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form action="/login/" method="post">
                {% csrf_token %}

                <div class="form-group">
                  <label for="exampleInputEmail1">UserName</label>
                  <input type="text" class="form-control" id="loginusername" name="loginusername"
                    aria-describedby="emailHelp" placeholder="UserName" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Enter a Pssword</label>
                  <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                    placeholder="Password" required>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
              </form>

            </div>
          </div>
        </div>
      </div>
      {%else%}
      <ul class="navbar-nav mr-0">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary">Welcome {{request.user.first_name}}</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/logout">Logout</a>
            <a class="dropdown-item" href="#">Profile</a>
          </div>
      </ul>
      {%endif%}




  </nav>
  {% for message in messages %}
  <div class="alert alert-{{message.tag}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% block body%} {% endblock %}


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  {% block jsbody%} {% endblock %}
</body>

</html>